<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gradebook System - Kevin Simorangkir</title>
    <link rel="icon" type="image/x-icon" href="/Assets/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <div class="container">
      <h1>Gradebook System</h1>
      <label for="course">Select Course:</label>
      <select id="course" name="course" onchange="updateLastModified()">
        <option value="">--Select Course--</option>
        {% for course in courses %}
        <option value="{{ course }}">{{ course }}</option>
        {% endfor %}
      </select>
      <p id="lastUpdated" class="last-updated"></p>

      <label for="studentId">Enter Student ID:</label>
      <div class="input-icon">
        <i class="fas fa-user"></i>
        <input
          type="text"
          id="studentId"
          name="studentId"
          placeholder="ex: 121140150"
        />
      </div>

      <button onclick="getGrades()">Submit</button>

      <!-- <button onclick="exportToPDF()">Export to PDF</button> -->

      <div id="result"></div>
      <div id="spinner" class="spinner" style="display: none"></div>
    </div>
  </body>
</html>
